@model AspnetMVC.ViewModels.ProductAndProductCategoryList

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input asp-for="@Model.Product.Name" class="form-control" />
                <span asp-validation-for="@Model.Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Product Category</label>
                <select class="custom-select mb-4" asp-for="@Model.Product.ProductCategoryId">
                    @foreach (var item in Model.ProductCategories)
                    {
                        <option value="@item.Id" selected="@(item.Id == @Model.Product.ProductCategoryId)">@item.Description</option>

                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Product.Price" class="control-label"></label>
                <input asp-for="@Model.Product.Price" class="form-control" />
                <span asp-validation-for="@Model.Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Product.Id" class="control-label"></label>
                <input asp-for="@Model.Product.Id" class="form-control" />
                <span asp-validation-for="@Model.Product.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
