@model AspnetMVC.ViewModels.ProductAndProductCategoryList

@{
    ViewData["Title"] = "Product List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // Get the selected sort option from ViewBag
    //string selectedSortOption = (string)TempData["SelectedSortOption"];
    //string selectedCategory = (string)TempData["SelectedSortOption"];
}
<h1>Product List</h1>
<p>
    <a asp-action="Create">Create New Product</a>
</p>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center" data-example-id="list-group-anchors">
    <section class=col-2>
<form asp-action="Filterby">
  
    <h5 class="card-title">Sort By</h5>
            <select class="custom-select mb-4" name="selectsortoption" id="selectsortoption" asp-for="SelectedSortOption">
            @foreach (var item in Model.sortOptions)
            {
                <option value="@item" selected="@(item == Model.SelectedSortOption)">@item.ToString()</option>
            }
         </select>
    <h5 class="card-title">Category</h5>
            <select class="custom-select mb-4" asp-for="SelectedCategory">
         @foreach (var item in Model.ProductCategories)
        {
           <option value="@item.Id" selected="@(item.Id == Model.SelectedCategory)">@item.Description</option>

           @* <li class="list-group-item" value="p.value" >@item.Description </li>*@
        }
            </select>
    
    <input type="submit" value="Apply" class="btn btn-success form-control" />
</form>
</section>
<section class=col-9>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Product Category
            </th>
            <th>
                Price
            </th>
            <th>
                Id
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
    </section>
</div>
